<div class="row bg-dark mr-0">
  <div class="col-md-4 text-center">
    <a target="_blank" class="font-type" href="https://www.linkedin.com/in/xavier-bignell-376674161/">
    <img class="logo-size" src="../../assets/logo/linkedin.svg"> LinkedIn
    </a>
  </div>
  <div class="col-md-4 text-center">
    <a target="_blank" class="font-type" href="https://github.com/xbignell">
    <img class="logo-size" src="../../assets/logo/github.svg"> Github
    </a>
  </div>
  <div class="col-md-4 text-center">
    <a target="_blank" class="font-type" href="../../assets/documents/CV_XaviBignell.pdf" download>
    <img class="logo-size" src="../../assets/logo/pdf.svg"> Curriculum Vitae
    </a>
  </div>
  <div class="font-type w-100">
    <a target="_blank" href="https://github.com/xbignell/my-project-angular">
    <p class="text-center font-italic mb-0 font-type">This webpage made with AngularJS. Click here to see this web code</p>
    <img class="logo-angularjs" src="../../assets/logo/angular.svg">
    </a>
  </div>
</div>
