<div class="second-random-color">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-6 text-center">
        <img class="text-center personalized-img" src="../../../assets/img/descarga.png" alt="Xavier Bignell en Viajes Para Ti">
      </div>
      <div class="col-md-6 text-center">
        <h2>Self-Introduction</h2>
        <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>
<div class="first-random-color">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center pt-3 pb-3">
          <p class="text-monospace font-italic qualities-font">"Work hard, constancy and never give up"</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="third-random-color">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-3 pb-3">
        <h2>Know more about me</h2>
        <div class="row pt-2">
          <div class="col-md-4 pt-3">
            <button type="button" class="btn btn-know-more w-50">Who Am I</button>
          </div>
          <div class="col-md-4 pt-3">
            <button type="button" class="btn btn-know-more w-50">Career</button>
          </div>
          <div class="col-md-4 pt-3">
            <button type="button" class="btn btn-know-more w-50">Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
