<div class="second-random-color">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-6 text-center">
        <img class="text-center personalized-img" src="../../../assets/img/descarga.png" alt="Xavier Bignell en Viajes Para Ti">
      </div>
      <div class="col-md-6 text-center">
        <h2>Self-Introduction</h2>
        <p class="text-justify">
          I am 23 years old and I live in Rodonyà. I'm active working in <b>Viajes Para Ti SL</b>, programming 3 differents web about travels <b>Esquiades.com</b>, <b>Buscounchollo.com</b>, <b>Amimir.com</b> since 2 years,
          I'm working in back-end but I feel well in any place.
          My principal qualities are what I always arrive on time, in almost two years that I have been working on Viajes Para Ti I have never been late.
          I think I’m professional and so motivated.
          When I have curiosity about how is working anything technologically, I work in my free time to learn all I can about. <br>
          Read, watch Netflix series, play videogames or listen to podcasts are my favourite hobbies and that's why I can understand English but I cannot speak it fluency.
          <br>
          I challenge you to know all about me!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="first-random-color">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center pt-3 pb-3">
          <p class="text-monospace font-italic qualities-font">"Work hard, constancy and never give up"</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="third-random-color">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center pt-3 pb-3">
        <h2>Know more about me</h2>
        <div class="row pt-2">
          <div class="col-md-4 pt-3">
            <button type="button" class="btn btn-know-more w-50">Who Am I</button>
          </div>
          <div class="col-md-4 pt-3">
            <button type="button" class="btn btn-know-more w-50">Career</button>
          </div>
          <div class="col-md-4 pt-3">
            <button type="button" class="btn btn-know-more w-50">Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
