<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
  <div class="form-group">
    <label>
      <textarea name="content-text" formControlName="textContent" placeholder="Content with text" rows="4" cols="50"></textarea>
    </label>
    <label for="name">Name*</label>
    <input id="name" type="text" formControlName="name" />
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    <label for="telephone">Telephone</label>
    <input id="telephone" type="telephone" formControlName="telephone" />
    <button class="btn btn-info" type="submit">Send</button>
  </div>
</form>
