.introduction-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  opacity: 90%;
}

.text-xavi-bignell {
  position: absolute;
  top: 39%;
  left: 2%;
  color: #defffd;
  font-size: 11vw;
  font-family: 'Megrim', cursive;
}

.square {
  position: absolute;
  top: 38%;
  left: -1%;
  border: rgb(222, 255, 253) solid 4px;
  height: 25%;
  width: 83%;
  border-radius: 5px;
  background-color: #1600ff4a;
}

.img-cutted {
  backdrop-filter: blur(4px);
  object-fit: cover;
}

@media (max-width: 600px) {
  .square {
    height: 15%;
  }

  .introduction-image {
    height: 350px;
  }
}


